<%# Title to show details for the indivudal Corrective Action%>

<%# show title, id, description, status, severity, source, date created, date updated%>
<%# show the title of the corrective action%>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Details for CAPA ID: <%= @corrective_action.id %> </h1>
      <h2>Title: <%= @corrective_action.title %> </h2>
      <%# show the id of the corrective action%>
      <h2>ID: <%= @corrective_action.id %> </h2>
      <%# show the description of the corrective action%>
      <h2>Description: <%= @corrective_action.description %> </h2>
      <%# show the status of the corrective action%>
      <h2>Status: <%= @corrective_action.status %> </h2>
      <%# show the severity of the corrective action%>
      <h2>Severity: <%= @corrective_action.severity %> </h2>
      <%# show the source of the corrective action%>
      <h2>Source: <%= @corrective_action.source %> </h2>
      <%# show the date created of the corrective action%>
      <%# modify the date to show as MM-DD-YYYY%>
      <h2>Date Opend: <%= @corrective_action.date_opened.strftime("%m-%d-%Y") %> </h2>
      <%# show the date updated of the corrective action%>
      <%# modify the date to show as MM-DD-YYYY%>
      <h2>Date Updated: <%= @corrective_action.updated_at.strftime("%m-%d-%Y") %> </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%# Add a button to go back to the list of corrective actions%>
      <%= link_to 'Back to Corrective Actions', corrective_actions_path, class: "btn btn-primary" %>
      <%# Add a button to edit the corrective action%>
      <%= link_to 'Update Corrective Action', edit_corrective_action_path(@corrective_action), class: "btn btn-secondary" %>
      <%# Add a button to delete the corrective action only for the user who created the corrective action%>
      <% if @corrective_action.user_id == current_user.id %>
        <%= button_to 'Delete Corrective Action', corrective_action_path(@corrective_action), method: :delete, data: { confirm: "Are you sure?"} , class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
</div>
